<h1> A list of All stocks entered into Portfolio Tracker </h1>

<button class="grab-stocks" href="<%=stocks_path%>">Grab Stocks</button>

<table class="all-stocks">
  <tr>
    <th> Ticker </th>
    <th> Price </th>
  </tr>
</table>
